<!-- Education Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education</h2>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col xs-12">
                <p class="text-muted">I re-entered higher education through the Biological Sciences
                  program at Santa Barbara City College. SBCC introduced me to experimental science
                  and fostered my passion for science, teaching, and biological systems.</p>
                <p class="text-muted">I am currently enrolled as an undergraduate at the University of
                  California, Berkeley. My time here has changed how I approach biological problems.
                  Under the advisement of Professor Adam Arkin, I have learned how to apply modeling methods
                  towards the manipulation of biological systems and I am now able to thrive in a top-tier research lab. </p>
              </div>
              <div class="col-lg-8 col-xs-12">
                  <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/SBCC.png" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2011 - 2014</h4>
                                  <h4 class="subheading">Santa Barbara City College</h4>
                              </div>
                              <div class="timeline-body">
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/cal2.png" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>2014 - Present</h4>
                                  <h4 class="subheading">University of California, Berkeley</h4>
                                  <h4 class="subheading"><em>In progress:</em> B.A. Molecular & Cell Biology</h4>
                              </div>
                              <div class="timeline-body">
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <h4>Which
                                <br>
                                Graduate
                                <br>
                                Program?
                              </h4>
                          </div>
                      </li>
                  </ul>
              </div>
            </div>
        </div>
    </section>
