<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">Background and Education</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col xs-12">
                <div>
                  <img class="center-block img-circle img-responsive" src="img/about/portrait.png" alt="">
                </div>
                <div class="panel panel-default">
                  <div class="panel-body text-muted">I am an avid sailor, researcher, and educator. I re-entered higher education through the Biological Sciences
                    program at Santa Barbara City College. SBCC introduced me to experimental science
                    and fostered my passion for science, teaching, and biological systems.
                    I am currently enrolled as an undergraduate at the University of
                    California, Berkeley. My time here has changed how I approach biological problems.
                    Under the advisement of Professor Adam Arkin, I have learned how to apply modeling methods
                    towards the manipulation of biological systems and I am now able to thrive in a top-tier research lab. </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12">
                  <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/SBCC.png" alt="">
                          </div>
                          <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Santa Barbara City College <br><small>2011 - 2014</small></h4>
                            </div>
                              <div class="timeline-body">
                                Transferred to UC Berkeley from the Biological Sciences Program.
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/cal2.png" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>University of California, Berkeley <br><small>2014 - Present</small></h4>
                              </div>
                              <div class="timeline-body">
                                <p><em>In progress:</em> B.A. Molecular & Cell Biology</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <h4>Which
                                <br>
                                Graduate
                                <br>
                                Program?
                              </h4>
                          </div>
                      </li>
                  </ul>
              </div>
            </div>
        </div>
    </section>
